@model IEnumerable<RentFlat.Model.Country>

@{
    ViewBag.Title = "List of Countries";
}
<div class="row">
    <h2>
        @ViewBag.Title
        @Html.ActionLink("Add Country", "Create", null, new { @class = "btn btn-success pull-right" })
    </h2>
</div>
<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
