@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Flats", "Index", "Flats")</li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin Services <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Facility", "Index", "Facilities", new { Area = "" }, new { })</li>
            <li>@Html.ActionLink("City", "Index", "Cities", new { Area = "" }, new { })</li>
            <li>@Html.ActionLink("Country", "Index", "Countries", new { Area = "" }, new { })</li>
        </ul>
    </li>
    <li>@Html.ActionLink("FF", "Index", "FacilityInFlats")</li>
    <li>@Html.ActionLink("Pictures", "Index", "Pictures")</li>
    <li>@Html.ActionLink("Rents", "Index", "Rents")</li>
}